::-moz-selection {
     color: white;
     background-color: rgba(59, 23, 69, 0.4);
}

::selection {
     color: white;
     background-color: rgba(59, 23, 69, 0.4);
}

body {
     overscroll-behavior: none;
     background-size: cover;
     background-position: center right;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: #cecfd0;
     font-weight: normal;
     margin: 0;
     align-items: center;
     justify-content: center;
     text-align: center;
     background-color: rgb(40, 40, 40);
     font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
}

a {
     color: #cecfd0;
     transition: filter 0.15s ease;
}

a:hover {
     filter: brightness(1.25);
}

nav {
     z-index: 1;
     height: 75px;
     overflow: hidden;
     overflow-x: scroll;
     position: fixed;
     top: 0px;
     z-index: 1;
     width: 100vw;
     background-color: rgb(10, 10, 10);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     user-select: none;
     -moz-user-select: none;
     white-space: nowrap;
}

#nav {
     display: flex;
     flex-direction: row;
     list-style-type: none;
     align-items: center;
     box-sizing: border-box;
     margin-block-start: 1em;
     margin-block-end: 1em;
     padding-inline-start: 40px;
     font-size: 16px;
     line-height: 1.5;
}

#nav li {
     margin-right: 40px;
}

#nav a {
     text-decoration: none;
}

#nav a.current {
     color: #996cd4;
}

.loader {
     position: absolute;
     top: 50% !important;
     left: 50% !important;
     margin: -37.5px 0 0 -37.5px !important;
     width: 75px !important;
     height: 75px !important;
     aspect-ratio: 1 !important;
     border-radius: 50% !important;
     background:
          radial-gradient(farthest-side, #5810b6 94%, #0000) top/10px 10px no-repeat,
          conic-gradient(#0000 30%, #5810b6) !important;
     mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0) !important;
     animation: l13 1s infinite linear !important;
}

@keyframes l13 {
     100% {
          transform: rotate(1turn);
     }
}

.tag {
     background-color: #fb2323;
     border-radius: 5px;
     padding: 5px;
     font-size: 10px;
     color: #fff;
     vertical-align: middle;
     user-select: none;
     -moz-user-select: none;
     font-weight: bold;
     margin-left: 1em;
}